//local directroy with manually downloaded databases
params {
  busco_db   = "${baseDir}/bin/busco_downloads/lineages/vertebrata_odb10/"
  eggnog_db  = "${baseDir}/bin/"            
}

//sets the user ID and group ID for Docker containers to match your current host user
//without I get "Permission denied" as docker trys writing with the host user inside the container
docker {
    runOptions = '-u $(id -u):$(id -g)'
    // if enabled, nextflow pipeline runs on specified docker image
    enabled = true                      
}

process {
    container = 'anzenker/ms-pipeline:1.0'
    executor = 'local'
    cpus = params.threads
}

manifest {
    name            = 'gitlab.rlp.net/anzenker/master_thesis_anzenker_2025'
    author          = """Annika Zenker"""
    homePage        = 'https://gitlab.rlp.net/anzenker/master_thesis_anzenker_2025'
    description     = """Transcriptome Assembly, Annotation & Functional Assessment from ONT dRNA-seq data."""
    mainScript      = 'main.nf'
    version         = '1.0.0'
}

profiles {
  test {
    params {
      // public raw URLs to your tiny files
      raw_reads = 'https://raw.githubusercontent.com/anzenker/test_dataset_msp/main/Chr_raw_reads_testdata.fastq.gz'
      genome    = 'https://raw.githubusercontent.com/anzenker/test_dataset_msp/main/Chr_test.fa'

      // make the CI/test run fast
      skip_busco   = true
      skip_orf     = false
      skip_eggnog  = true
      skip_plots   = false
    }
  }
}




