//if true, nextflow pipeline runs on specified docker image
docker.enabled = true

//sets the user ID and group ID for Docker containers to match your current host user
//without I get "Permission denied" as docker trys writing with the host user inside the container
docker.runOptions = '-u $(id -u):$(id -g)'
